::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  overflow-y: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 4px rgba(89, 89, 89, 0.2);
  background: #939392;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  border-radius: 0;
  background: #f0f2f5;
}

.ant-table ::-webkit-scrollbar-thumb {
  border-radius: 8px !important;
  -webkit-box-shadow: inset 0 0 4px rgba(89, 89, 89, 0.2);
  background: #939392;
}

.ant-table ::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  border-radius: 0;
  background: #f0f2f5;
}

.ant-table ::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  overflow-y: auto;
}

.ant-segmented ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 4px rgba(89, 89, 89, 0.2);
  background: #939392;
}

.ant-segmented ::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  border-radius: 0;
  background: #f0f2f5;
}

.ant-segmented ::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  overflow-y: auto;
}

ol {
  list-style-type: decimal !important;
  margin-bottom: 0px !important;
}

.v-note-wrapper {
  min-height: 0px !important;
  z-index: 10 !important;
}